body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to right,rgb(22, 93, 236), rgb(13, 148, 189));
}
.caixa{
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    padding-bottom: 115px;
    border-radius: 15px;
    min-width: 300px;
    max-width: 800px;
    max-height: 250px;

}
fieldset{
    border: 3px solid rgb(15, 80, 219);
    min-width: 300px;
    max-width: 800px;
}
legend{
    border:1px solid rgb(58, 121, 213);
    padding: 10px;
    text-align: center;
    background-color: rgb(15, 165, 219);
    color: white;
    border-radius: 8px;

}
.inputBox{
    position: relative;
}
.inputuser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color:white;
    font-size: 15px;
    min-width: 300px;
    max-width: 1000px;
}
.Luser{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputuser:focus ~ .Luser, .inputuser:valid ~ .Luser {
    top: -20px;
    font-size: 12px;
    color: rgb(4, 4, 4);
}

h1 {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.btns{
    display: flex;
}
button{
    margin-top:30px ;
    display: inline-block;
    color:rgb(251, 255, 252);
    background-image:linear-gradient(to right,rgb(12, 206, 223), rgb(15, 231, 217));
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: none;
    padding: 6px 15px;
    font-size: 15px;
    border-spacing: 3px;
    cursor:pointer;
}
.b1 {
    margin-bottom: 10px;
    float: left;

}
.b2{
    margin-left: 70px;
    float:right
}
a {
    position: relative;
    justify-content: center;
    top:73%;
    left: 25%;
    text-decoration: none;
}
a:link{
    color: #40c5f6;
    text-decoration: none;
}
a:visited{
    color: #40c5f6;
    text-decoration: none;
}
a:hover{
    color: #81f65b;
    text-decoration: none;
}
a:active {
    color: #4d42f6;
    text-decoration: none;
}
@media (max-width: 400px){
    .caixa{
        color:white;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px;
        padding-bottom: 150px;
        border-radius: 15px;
        min-width: 300px;
        max-width: 800px;
        max-height: 250px;

    }
}