body{
    background: #94e1f6;
}
.menu{
    display: flex;
    place-content: flex-start;
    flex-flow: row-reverse;
    background-color: #40c5f6;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.redirect{
    color: #878787;
    padding-right: 10px;

}
h1{
    text-align: center;
}
p{
    font-size: larger;
   padding-left: 100px;
   padding-right: 100px;
}
a:link{
    color: #878787;
    text-decoration: none;
}
a:visited{
    color: #878787;
    text-decoration: none;
}
a:hover{
    color: #878787;
    text-decoration: none;
}
a:active{
    color: #878787;
    text-decoration: none;
}