body{
    background-color: rgb(255, 255, 255);
}
.container{
    background-color: aqua;
    display: flex;
    width: 100%;
    height: auto;
    /*Flexbox contents*/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
} 
.box{
    width: 20%;
    height: 100px;
    background-color: red;
    margin: 20px;
    box-sizing: border-box;
} 

@media all and (max-widht:1200px){
    .box{
        width: 20%;
        background-color: black;
    }
}
@media all and (max-widht:600px){
    .box{
        width: 40%;
        background-color: blue;
    }
}